

body
{
	background: #fff;
	font-size: 0.9em;
	font-family: Verdana,Arial;
	color: #808080;
}
a
{
	color: #308CF1;
	text-decoration:none;
}
h1
{
	font-family:Times New Roman,Arial;
	font-size:3em;
	text-align:center;
}
h2
{
	color: #808080;
	font-size: 1.0em;
	
	border-bottom: 1px solid #f0f0f0;
}
#container
{
	margin: 0 auto;
	width: 800px;
	/*background: #fff;*/
	padding: 10px;
}

#loginbox, #addbox
{
	border: 1px solid #ff6600;
	width:400px;
	padding:20px;
	margin:0 auto;
	background: #fff;
}
.little
{
	font-size:0.7em;
}
dl
{
	line-height:20px;
	
}
dt
{
	font-weight:bold;
	font-size:0.8em;
	color:#808080;
}

#header
{

	padding: 20px;
}
#contents
{
}
.formtitle
{
	background: #eee;
	text-transform:uppercase;
	font-size: 9px;
	color: #303030;
	font-weight: bold;
	width: 200px;
	text-align: right;
}
.formdata
{
	background: #fff;
	width: 700px;
	text-align: left;
}
#footer
{
	margin-top:60px;

	padding: 5px;
	text-align: center;
	color: #909090;
	font-size:9px;
}
#breadcrumb
{
	
	font-size: .9em;
	color: #303030;
	padding: 5px;
	padding-bottom:10px;

}
.validator
{
	color:#ff6600;
	font-size:9px;
}

.frame
{
	border-right: #cccccc 1px solid;
	font-size: 12px;
	border-top: 0;
	border-left: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	margin: 0px;
	background: #f7f7f7;
	padding: 0px;
	width:800px;
}
.Status
{
	background: url(../../images/layout/StatusBar.gif) repeat-x;
}
.StatusHolder
{
	border: 1px solid #cccccc;
	background: #f0f0f0;
}
input
{
	font-size: 11px;
}
